////////////////////
// Fade-in
@keyframes fade-in {
  from {
    opacity: 0;
    z-index: -1;
    transform: translateX(-1000px);
  }

  to {
    opacity: 1;
    z-index: 1;
  }
}

.fade-in {
  animation: fade-in 0.8s ease-in-out forwards;
}

////////////////////
// Fade-out
@keyframes fade-out {
  from {
    opacity: 1;
    z-index: 1;
  }

  to {
    opacity: 0;
    z-index: -1;
  }
}
.fade-out {
  animation: fade-out 0.4s ease-in-out forwards;
}
