.creation {
  max-width: 33rem;
  margin: 10rem auto;

  @include breakpoint-down(extra-small) {
    max-width: 27rem;
  }

  @include breakpoint-up(medium) {
    max-width: 55rem;
  }

  @include breakpoint-up(large) {
    max-width: 111.1rem;
  }

  &__title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3.5rem 0;

    .btn1 {
      display: none;

      @include breakpoint-up(large) {
        display: block;
      }
    }
  }

  .btn2 {
    margin: auto;

    @include breakpoint-up(large) {
      display: none;
    }
  }

  &__btn {
    display: block;
    background-color: $white;
    width: 15.7rem;
    padding: 1.3rem 4.3rem;
    text-transform: uppercase;
    border: 1px solid $black;
    cursor: pointer;

    &:hover {
      background-color: $black;
      color: $white;
    }

    &:focus {
      outline: none;
    }
  }

  // GALLERIE GRID
  &__gallery {
    @include breakpoint-up(large) {
      display: grid;
      padding: 0 2.4rem;
      grid-template-columns: repeat(4, minmax(16rem, 1fr));
      gap: 3rem;
    }

    &--item {
      // display: inline-block;
      width: 100%;
      height: 14rem;
      display: flex;
      align-items: flex-end;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      margin-bottom: 2.4rem;
      transition: all 0.2s ease-in-out;

      @include breakpoint-up(large) {
        height: 45rem;
      }

      &:hover {
        filter: opacity(90%);
        transform: scale(1.05);
      }
    }

    h3 {
      display: inline-block;
      width: 30%;
      margin-left: 2rem;
      margin-bottom: 2rem;
      font-size: 2.4rem;
      font-weight: 400;
      color: $white;
      z-index: 2;

      @include breakpoint-up(large) {
        width: 70%;
        margin-left: 4rem;
        margin-bottom: 4rem;
        font-size: 3rem;
      }
    }

    // LOADING IMAGE
    .item1 {
      background-image: url("/images/mobile/image-deep-earth.jpg");
      @include breakpoint-up(large) {
        background-image: url(/images/desktop/image-deep-earth.jpg);
      }
    }
    .item1 {
      background-image: url("/images/mobile/image-deep-earth.jpg");
      @include breakpoint-up(large) {
        background-image: url(/images/desktop/image-deep-earth.jpg);
      }
    }
    .item2 {
      background-image: url("/images/mobile/image-night-arcade.jpg");
      @include breakpoint-up(large) {
        background-image: url(/images/desktop/image-night-arcade.jpg);
      }
    }
    .item3 {
      background-image: url("/images/mobile/image-soccer-team.jpg");
      @include breakpoint-up(large) {
        background-image: url(/images/desktop/image-soccer-team.jpg);
      }
    }
    .item4 {
      background-image: url("/images/mobile/image-grid.jpg");
      @include breakpoint-up(large) {
        background-image: url(/images/desktop/image-grid.jpg);
      }
    }
    .item5 {
      background-image: url("/images/mobile/image-from-above.jpg");
      @include breakpoint-up(large) {
        background-image: url(/images/desktop/image-from-above.jpg);
      }
    }
    .item6 {
      background-image: url("/images/mobile/image-pocket-borealis.jpg");
      @include breakpoint-up(large) {
        background-image: url(/images/desktop/image-pocket-borealis.jpg);
      }
    }
    .item7 {
      background-image: url("/images/mobile/image-curiosity.jpg");
      @include breakpoint-up(large) {
        background-image: url(/images/desktop/image-curiosity.jpg);
      }
    }
    .item8 {
      background-image: url("/images/mobile/image-fisheye.jpg");
      @include breakpoint-up(large) {
        background-image: url(/images/desktop/image-fisheye.jpg);
      }
    }
  }
}
