.footer {
  background-color: $black;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 27.5rem;
    margin: auto;
    padding: 5.5rem 3rem;

    @include breakpoint-up(medium) {
      max-width: 55rem;
    }

    @include breakpoint-up(large) {
      max-width: 111.1rem;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__logo {
    @include breakpoint-up(large) {
      flex-basis: 50%;
    }
  }

  &__social {
    order: 3;
    padding-bottom: 1.6rem;

    img {
      padding-bottom: 10px;

      &:not(:last-child) {
        margin-right: 1.6rem;
      }

      &:hover {
        border-bottom: 1px solid $white;
      }
    }

    @include breakpoint-up(large) {
      flex-basis: 25%;
      order: 1;
    }
  }

  &__nav {
    @include breakpoint-up(large) {
      flex-basis: 50%;
      display: flex;
      justify-content: space-between;
      order: 2;
    }
  }

  &__links {
    padding-left: 0;
    text-align: center;

    li {
      position: relative;
      padding-bottom: 1.6rem;

      @include breakpoint-up(large) {
        padding-bottom: 0;
        margin-right: 4rem;
      }
    }

    li a {
      &::after {
        content: "";
        position: absolute;
        opacity: 0;
        top: 3rem;
        left: 50%;
        width: 2.5rem;
        height: 2px;
        background-color: $white;
        transform: translateX(-50%);
        transition: opacity 0.2s ease-in-out;
      }

      &:hover {
        padding-bottom: 5px;

        &::after {
          opacity: 1;
        }
      }
    }

    @include breakpoint-up(large) {
      display: flex;
      justify-content: space-around;
    }
  }

  &__copyright {
    order: 4;
    text-align: center;

    @include breakpoint-up(large) {
      flex-basis: 25%;
      justify-self: flex-end;
      text-align: left;
    }
  }
}
