// Reset & Setup
html {
  font-size: 62.5%; // 1rem = 10px
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: $veryDarkGray;
  line-height: 2.5rem;
  overflow-x: hidden;
}

// Visibility

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}
