////////////////
// Reset & Setup
html {
  font-size: 62.5%; // 1rem = 10px
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: $veryDarkGray;
  line-height: 2.5rem;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  line-height: 1.1;
  text-transform: uppercase;
  color: $black;
  margin: 0;
}

h2 {
  font-size: 3.2rem;
}

li {
  list-style: none;
}

a,
a:visited,
a:hover {
  color: $white;
  text-decoration: none;
}

.noscroll {
  overflow: hidden;
}

////////////////
// Spacing
.container {
  max-width: 111.1rem;
  height: 100%;
  margin: 0 auto;
}

///////////////
// Position
.pos-rel {
  position: relative;
}

////////////////
// Visibility
#hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

#hide-for-desktop {
  @include breakpoint-up(medium) {
    display: none;
  }
}
