.header {
  &.open {
    .overlay {
      display: block;
      opacity: 1;
    }

    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  &__menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -1rem;
    opacity: 0;

    &--hamburgerLinks li {
      padding-top: 2.4rem;
    }

    &--hamburgerLinks li a {
      font-family: "Josefin Sans", sans-serif;
      text-transform: uppercase;
      font-size: 2.4rem;
      transition: all 0.2 ease-in-out;

      &:hover {
        border-bottom: 1px solid $white;
      }
    }
  }
}

.overlay {
  position: fixed;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  transition: all 0.3s ease-in-out;
  display: none;
}
