.header {
  height: 100vh;
  background-image: url("/images/mobile/image-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  @include breakpoint-up(large) {
    background-image: url("/images/desktop/image-hero.jpg");
    background-size: cover;
    height: 68vh;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    padding: 4rem 2.4rem;
  }

  &__logo {
  }

  &__toggle {
    span {
      display: block;
      width: 2.4rem;
      height: 2px;
      background-color: $white;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__links {
    li {
    }

    li a {
    }
  }

  &__title {
    span {
    }
  }

  &__menu {
  }

  &__links--menu {
    li {
    }

    li a {
    }
  }
}
