.header {
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba($black, 0.4),
      rgba($black, 0.4)
    ),
    url("/images/mobile/image-hero.jpg");
  background-size: cover;
  background-position: center center;

  @include breakpoint-up(large) {
    background-image: linear-gradient(
        to right,
        rgba($black, 0.4),
        rgba($black, 0.4)
      ),
      url("/images/desktop/image-hero.jpg");
    height: 65rem;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
  }

  &__toggle {
    z-index: 2;
    cursor: pointer;

    span {
      display: block;
      width: 2.4rem;
      height: 2px;
      background-color: $white;
      transition: all 0.3s ease-in-out;
      transform-origin: 2px 1px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__links {
    display: flex;
    z-index: 2;

    li {
      &:not(:last-child) {
        padding-right: 3.1rem;
      }
    }

    li a {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        opacity: 0;
        top: 3rem;
        left: 50%;
        width: 2.5rem;
        height: 2px;
        background-color: $white;
        transform: translateX(-50%);
        transition: opacity 0.2s ease-in-out;
      }

      &:hover {
        padding-bottom: 5px;

        &::after {
          opacity: 1;
        }
      }
    }
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 7%;
    right: 7%;
    border: 2px solid $white;
    transform: translateY(-50%);

    @include breakpoint-up(large) {
      top: 60%;
      left: 2%;
      right: 40%;
    }
  }

  &__text {
    padding: 2.8rem 2.4rem 2.4rem;

    span {
      display: block;
      font-family: "Josefin Sans";
      font-weight: 300;
      font-size: 4rem;
      text-transform: uppercase;
      line-height: 1.1;
      color: $white;

      @include breakpoint-up(large) {
        display: inline-block;
        padding-right: 1.5rem;
        font-size: 7.2rem;
      }
    }
  }
}
