.presentation {
  max-width: 33rem;
  margin: 10rem auto;

  @include breakpoint-down(extra-small) {
    max-width: 27rem;
  }

  @include breakpoint-up(medium) {
    max-width: 55rem;
  }

  @include breakpoint-up(large) {
    width: 90%;
    max-width: 111.1rem;
    display: grid;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: 10fr 3fr 7fr;
    overflow: hidden;
  }

  &__image {
    height: 22.4rem;
    margin: 4.8rem auto;
    background-image: url("/images/mobile/image-interactive.jpg");
    background-size: cover;
    background-position: center center;

    @include breakpoint-up(large) {
      background-image: url("/images/desktop/image-interactive.jpg");
      width: 100%;
      height: 100%;
      grid-row: 1 / 3;
      grid-column: 1 / 3;
    }
  }

  &__description {
    @include breakpoint-up(large) {
      background-color: $white;
      grid-row: 2 / 4;
      grid-column: 2 / 4;
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
    }

    h2 {
      text-align: center;
      color: $black;
      margin-bottom: 1rem;

      @include breakpoint-up(large) {
        width: 60%;
        margin: 0 auto;
        padding-top: 5rem;
        text-align: left;
      }
    }

    p {
      width: 90%;
      margin: auto;
      color: $darkGray;
      text-align: center;

      @include breakpoint-up(large) {
        width: 80%;
        margin: 0 auto;
        margin-right: 0;
        text-align: left;
      }
    }
  }
}
