.presentation {
  width: 32.7rem;
  height: 53rem;
  margin-top: 10rem;

  @include breakpoint-up(large) {
    width: 90%;
    display: grid;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: 10fr 3fr 7fr;
    overflow: hidden;
  }

  &__image {
    width: 30.3rem;
    height: 22.4rem;
    margin: 4.8rem auto;
    background-image: url("/images/mobile/image-interactive.jpg");
    background-size: cover;
    background-position: center center;

    @include breakpoint-up(large) {
      width: 100%;
      height: 100%;
      grid-row: 1 / 3;
      grid-column: 1 / 3;
    }
  }

  &__description {
    @include breakpoint-up(large) {
      background-color: $white;
      grid-row: 2 / 4;
      grid-column: 2 / 4;
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
    }

    h2 {
      font-family: "Josefin Sans", sans-serif;
      font-size: 3.2rem;
      font-weight: 300;
      line-height: 1.1;
      text-transform: uppercase;
      text-align: center;
      color: $black;

      @include breakpoint-up(large) {
        width: 80%;
        margin: 0 auto;
        margin-right: 0;
        padding-top: 5rem;
        text-align: left;
      }
    }

    p {
      width: 90%;
      margin: auto;
      color: $darkGray;
      text-align: center;

      @include breakpoint-up(large) {
        width: 80%;
        margin: 0 auto;
        margin-right: 0;
        text-align: left;
      }
    }
  }
}
